.ui-jqgrid tr.jqgrow td {
        word-wrap: break-word;
        vertical-align:top;
        padding-top: 3px;
        padding-bottom: 3px
    }
.main {
width:100%;
height:90%;
   }
.right_panel {
width:24%;
height:99%;
   }
.left_panel {
float:right;
width:75%;
height:99%;

   }
.add {
float:left;
width:47%;
height:59%;

   }
.edit {
float:right;
width:49%;
height:59%;
   }
.page_l {
float:left;
width:47%;
height:19%;

   }
.show_l {
float:left;
width:47%;
height:19%;

   }
.page_r {
float:right;
width:47%;
height:19%;

   }
.show_r {
float:right;
width:47%;
height:19%;

   }
  .search {
    float:left;
  width:90%;
  height:9%;

     }
.paging {
  float:left;
width:50%;
height:9%;

   }
.delete {
  float:right;
width:45%;
height:9%;

   }
